PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/agkey-tms?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

TRACKING_BASE_URL=https://agkey-tms.onrender.com
LOCAL_DELIVERY_KEYWORDS=local delivery,local_delivery,local-delivery

SHOPIFY_STORE_URL=your-store.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_your_admin_api_access_token
SHOPIFY_API_VERSION=2026-01
